[2013-01-28 20:53] jamesarbrown opened #2 "Rsync moves to i386-linux folder and not i686-linux"
This command for the rsync at the bottom of buildme.sh

ARCH=`$PERL_514 -MConfig -le 'print $Config{archname}' | sed 's/gnu-//' | sed 's/^i[3456]86-/i386-/' | sed 's/armv5tejl/arm/'`

Particularly the sed 's/^i[345]86-/i386-/'

Changes the i686 to i368 resulting in a i386-linux folder instead of a i686-linux. As perl -v says compiled for i686-linux it ignores the i386-linux folder for libraries.

[2016-02-23 14:18] Efreak opened #8 "Image::Scale wrong version"
[code]

I see the last change to the repo was to update Image::Scale to version 0.11...

[2016-02-23 14:50] mherger commented on #8
How did you install? what OS? Can't help with a little more information.

[2016-03-04 04:55] chincheta0815 commented on #8
I had the same issue on march, 3rd (yesterday). I used the Unix noCPAN tarball from the nightlies download page. After compiling on a raspi 2 (arm)  I got thid message.

I changed the versions from 0.08 to 0.11 in CPAN/arch...Scale.pm and modules.conf and lms started.

In the slimserver github repo these files seem to have the correct version numbers.

Maybe a problem with nightlies tarball?

[2016-03-04 06:09] mherger commented on #8
@chincheta0815 - you'd have to copy not only the .so file, but the Scale.pm to your installation. It's not a problem with the nightlies, but with putting the right file in the right place if you're compiling yourself. Maybe I should improve this in the buildme.sh script.

What OS are you running on your Pi? Why did you have to compile yourself?

[2016-03-04 07:17] chincheta0815 commented on #8
Okay. I have to check whether I copied right. Seems to be that I was NOOBing.
To make shure I copied everything well: What do I have to copy where after running the buildme.sh?
Maybe there is a script showing that (one for creating the tar, packages etc.) so you don't have to write but just provide the link and I can adapt that.

I usually do some compiling on my own to understand things etc. Norm

[2016-03-04 10:22] mherger commented on #8
@chincheta0815 - what to put where... seriously: I often don't know myself either.... and I currently don't remember. So here's my vague memory dump:

After the module has been built, you have sub-folders in the resulting build folder, named either after your  perl version, lib or arch or something. In there you should find an eg. Image/Scale.pm file, and an Image/Scale.so. The latter belongs in t

[2016-05-04 05:28] meszarosa opened #9 "Config.guess/Config.sub Outdated in some package"
I have Issues compiling CPAN due to outdated config.guess/config.sub files in the following packages:
*libpng-1.4.3.tar.gz
*libmediascan-0.1.tar.gz
*libjpeg-turbo-1.1.1.tar.gz
*jpegsrc.v8b.tar.gz
*jpegsrc.v6b.tar.gz
*icu4c-4_6-src.tgz
*giflib-4.1.6.tar.gz
*freetype-2.4.2.tar.gz
*expat-2.0.1.tar.gz
*db-5.1.25.tar.gz
*libexif-0.6.20.tar.bz2
*mysql-5.1.37.tar.bz2

The architecture parameters, which i

[2016-05-04 09:28] mherger commented on #9
Thanks for the feedback. Yes, sooner or later we will run into this kind of problem in a larger scale. But do you really need to compile specifically for this platform? Maybe it's just the architecture name confusing the scripts?

I guess that's the pine64 cpu as featured on pine64.com? Does it run any particular Linux, or a "standard" Ubuntu for ARM? What would "perl -v" say?

[2016-05-04 09:40] meszarosa commented on #9
This is indeed pine64. It runs now Debian Linux, see: http://forum.pine64.org/showthread.php?tid=497
I'm using default Perl installation, where Perl -v says:
"This is perl 5, version 20, subversion 2 (v5.20.2) built for aarch64-linux-gnu-thread-multi
(with 47 registered patches, see perl -V for more detail)"

I intend to use this platform as a host for Logitech Media Server.

[2016-08-12 11:34] mnd999 opened #10 "/usr/bin/perl is used to determine $ARCH in buildme.sh"
/usr/bin/perl is used to determine $ARCH in buildme.sh

This will not work on recent FreeBSD as perl is in /usr/local/bin/perl

[2016-08-12 13:27] mherger commented on #10
Pulled your change. Thanks!

[2016-08-12 13:27] #10 closed

[2016-08-24 12:48] Fourdee commented on #9
@meszarosa @mherger

I had same issues, https://github.com/Logitech/slimserver-vendor/blob/public/7.9/CPAN/buildme.sh fails on ARM64.

#### I managed to get LMS 7.9 working on ARM64 for DietPi http://dietpi.com.

I manually went through each CPAN module/version and built as needed. Tested on Odroid C2 and Pine A64.
![image](https://cloud.githubusercontent.com/assets/7077026/17931029/3d1e9db8-6a01-

[2016-08-27 11:17] mcdee commented on #9
I had to compile for the Odroid C2 as well and updated the buildme.sh script to pull the latest version of config.guess and config.sub and place them in the required places for each package.  If you are interested I can submit the altered script as a PR.

[2016-08-30 04:14] mherger commented on #9
@mcdee - yes, please send a pull request. It would give me an idea of what needs to be done. I can still ignore it if I don't like it :-).

[2016-09-20 13:56] gahabana commented on #9
@mherger - Michael - thanks for awesome work over the years ! Thank you !!!
As for the issues - i think 64bit linux running on ARM platform is becoming more common. I tried to get it running on Odroid C2 running Armbian Ubuntu ... following @mcdee's changes i succeeded but with some smaller issues and still not clear where to but 'binaries' (faad/flac/sox).

hi @mcdee - thanks for your changes - i

[2016-09-20 16:28] gahabana commented on #9
btw, i copied the binaries (sox, faad, flac) just into the 'Bin' directory (above various architectures') and it works. So figuring out a proper name ... not sure how to get slimserver to show me where it looked for so probably easier to know based on what criteria 'arch' directory name is picked by lms.

thanks !

[2016-11-15 19:51] fireheadman commented on #8
also ran into this issue today, I was able to work around this by editing /usr/local/lms/CPAN/Image/Scale.pm and changing this line:

#our $VERSION = '0.08';
our $VERSION = '0.11';

Then LMS fired right up without any errors.

[2016-11-16 04:47] andygrundman commented on #8
You absolutely should never make changes like this one, it will cause all kinds of unintended problems.

[2016-11-16 06:03] fireheadman commented on #8
for now, its called a temp fix until a perm solution can be addressed.... let me know if you have anything beneficial to add or that I can try.

[2016-11-16 06:09] andygrundman commented on #8
It's not a fix at all. You need the versions of both the binary and Perl halves of a module to match, simple as that. If you've got version 0.11 of the binary (Image/Scale.so), then you need to use version 0.11 of the Perl side as well. You can find version 0.11 here: http://search.cpan.org/~agrundma/Image-Scale-0.11/ I don't know the details of the package you're using, but clearly someone has pa

[2016-11-16 06:13] fireheadman commented on #8
I would say then... the nightly build is responsible or maybe the slimserver-vendor???    Would require time on my part to look closer at it.   But for now, LMS runs in a jail on freebsd and it works... it plays music and does what it is supposed to do.     Per the OP, I do not seem to be the only person running into this issue... I am just the only person willing to risk/try other things to be ab

[2016-11-16 06:42] fireheadman commented on #8
here is a better solution (until the nightly's catch up for freebsd):

[code]

FYI:   Since LMS is slowly fading away, I do not have much intention of updating the Jail it is running in.    Should LMS regain momentum in the world and get a bunch of updates/mods/enhancements, then I could see it warranting a complete recompile/build.    But for now, it is working perfect and no more bandaids on it.

[2017-01-03 06:39] #8 closed

[2017-05-16 22:51] RyanRamchandar opened #15 "buildme.sh missing?"
I am attempting to run LMS in a docker container on an ARM64 device ubuntu-core 16.04 w/ 4.10 kernel. I am directed to a build.sh file which does not exists?
[code]

[2017-05-16 22:52] RyanRamchandar commented on #15
Found it!

[2017-05-16 22:52] #15 closed

[2017-07-12 20:38] mnd999 opened #16 "libicu does not compile on clang"
Presumably fixed in a more recent libicu

[code]

[2017-07-13 08:08] mherger commented on #16
You're on FreeBSD, aren't you? Did you try a newer version?

[2017-07-13 08:59] mnd999 commented on #16
Yes, on FreeBSD. It's easily fixed, and was fixed by libicu about 5 years ago:

https://ssl.icu-project.org/trac/changeset/32912

Probably LMS needs to update libicu.

[2017-07-26 06:48] mnd999 commented on #16
A current libicu may well work, but it's a difficult upgrade to do as the build seems to include it's own data file. The comment says:

`Replace huge data file with smaller one containing only our collations`

There is no indication (AFAICT) how the smaller file was generated or what it contains so it's not easy to see how to proceed other than getting rid of this step and sticking with the origin

[2017-08-02 09:37] mherger commented on #16
Did you see @fsbruva's series of pull requests for FreeBSD? They might help you get over this issue.

[2017-08-02 10:41] mnd999 commented on #16
It's not a FreeBSD issue, it was but it's easy enough to patch. The issue is libicu is massively out of date and has no clear upgrade path because the current version contains modifications that afaict are unknown and were done for unknown reasons and therefore cannot be reproduced on a current version.

[2017-08-02 10:43] mnd999 commented on #16
The FreeBSD PR doesn't even patch it - it just forces GCC.

[2017-08-02 16:03] fsbruva commented on #16
Check out the patch to fix this within the Freebsd ports. Should fix this. 
https://svnweb.freebsd.org/ports/head/audio/logitechmediaserver/files/vendorpatch-CPAN_buildme.sh?view=log
With clang 3.8.0 on Freebsd 11, it builds without error, and no need to patch.

[2017-08-02 16:27] mnd999 commented on #16
@fsbruva I know, I wrote the patch.

[2017-08-02 16:30] mnd999 commented on #16
The purpose of this issue is to discuss whether we can upstream a proper fix by using a lest old libicu I guess.

[2017-08-03 01:19] fsbruva commented on #16
What version of FreeBSD are you building on? Which compiler?

[2017-08-03 07:17] mnd999 commented on #16
FreeBSD 11.1, which ships with

[code]

[2017-08-06 13:56] fsbruva commented on #16
It's actually a clang 4.0.0 issue. LibICU builds successfully with clang 3.8.0.

[2017-08-06 13:59] mnd999 commented on #16
Clang 4.0.0 treats a bug as an error, Clang 3.8.0 treats it as a warning. Some might call that an improvement. I can see I'm wasting my time here, if I have to explain why using a version of this library that old, having no upgrade path for it and blaming new compilers for finding old bug are all problems.

[2017-08-06 13:59] #16 closed

[2017-10-12 17:33] ebin-dev commented on #9
@mherger LMS 7.9 does not compile on arm64 for the reasons known (outdated config.guess and config.sub files). I tried to repace those config.* files in all packages mentioned by @meszarosa above but I still get an error that a config.sub file can't be run:

tar zxvf db-5.1.25.tar.gz
tar done
configure: error: cannot run /bin/bash ../dist/config.sub
make: *** No targets specified and no makefile f

[2017-11-19 19:15] dnalor opened #35 "build script - make sure so and pm versions match"
When the build script buildme.sh builds modules with a newer version than the ones included in the Logitech/slimserver/tree/public/7.9/CPAN directory, the pm file(s) matching the binary so file also need to be copied to the build directory.

This is done for
Class::XSAccessor
Compress::Raw::Zlib
DBI
JSON::XS

but not for
Image::Scale (except for FreeBSD / perl > 5.22) (see #8 )
YAML::LibYAML (for

[2017-11-20 14:55] fsbruva commented on #35
While this approach will work for an individual, it may not necessarily work for all. This is because unless a module was updated from its original version, the legacy .pm already exists in CPAN, so we'd be duplicating it in CPAN/arch. But you bring a valid point that I had forgotten needed fixing.
@mherger, I can develop a PR to address this.

[2017-11-20 22:24] dnalor commented on #35
If you would have checked either the tree or the binary deb/rpm/tgz packages, you would have noticed that they already include the .pm files of both versions for all the modules I mentioned above - the perl module loader is smart enough to use the correct one.
The only thing missing is for the build script to automatically copy the new .pm to the build/arch/ directory, in case it is copied into a

[2017-11-21 14:12] fsbruva commented on #35
Same team here. No need for this.

Your fix would replicate EVERY .pm into arch, right? Not just the updated ones?

Additionally, I was operating under the assumption that the directory structure produced by the build script ought to conform to that promulgated in server. In #14, @mherger indicated a desire to place the updated files down lower In the directory tree. He simultaneously gave your su

[2017-11-22 06:05] mherger commented on #35
@fsbruva - tbh I don't plan to re-build anything. These builds I try to do once and never look back... Which obviously can lead to this kind of duplicated code. Re-building and making sure all those new binaries actually do work is an effort I can't provide. So... there's kind of a base-line, which covers the oldest builds. Some later perl versions might require a new module version. If it's the s

[2017-11-22 07:43] fsbruva commented on #35
Peanuts are yummy.

Thanks for the insight. I'll just make a command line knob to control the build behavior. Easy peasy.

[2017-11-29 04:56] fsbruva commented on #35
@dnalor , @mherger , I am still working this, and need some feedback/guidance:
Would either of you consider it unacceptable behavior if the only .pm files that were present in the destination (build/arch, build/arch/5.x, or build/arch/5.x/{arch-OS}) were from the latest run of the build script? I think I know what your answer(s) will be, but I appreciate your insight.

[2017-11-30 16:02] mherger commented on #35
I'm not sure I understand your question.

[2017-11-30 19:20] fsbruva commented on #35
Sorry - I had been attempting to selectively replicate the necessary .pm files for only those modules that were using updated versions from what's in server/CPAN (DBI, Image::Scale, etc), and place them all someplace (like you do over in server). The challenge I was running into was the rsync for the binaries during a subsequent build run was blowing away the *.pms of the previous run.  That is, w

[2017-12-04 08:15] mherger commented on #35
TBH I don't really care how DIYers would store those files. For the "official" builds I try to keep the versions across one Perl version identical, just to prevent this kind of mess. I therefore put the pure Perl parts in the upper level. Eg. I don't mix Image::Scale versions within the same Perl version. I'd start to use newer versions once I start to build for a new Perl. Or I re-compile it for

[2017-12-05 01:14] fsbruva commented on #9
@ebin-dev, @meszarosa Did PR #30 fix this issue, so that it can be closed?

[2017-12-05 03:24] fsbruva commented on #35
Sorry for bombing everyone's email with my troglodytic GIT tactics.  I had to do numerous rebasing operations, and each iteration had the issues ID'd in the commit messages.

[2017-12-05 05:05] mherger commented on #9
@fsbruva - thanks for following up. Yes, IMHO this issue is resolved, not only by updating the build script. But there are aarch64 binaries available now, too.

[2017-12-05 05:05] #9 closed

[2017-12-05 15:39] dnalor commented on #35
@fsbruva

I'm still not sure I understand the issue. First you seem to suggest that the all pms from a previous build get deleted when building a single module, then you write that this conforms to the current build script behaviour (which is not to delete them).
My expectation would be that building a module (either on it's own, or as part of building all) results in all files (pms, sos) required

[2017-12-05 17:03] fsbruva commented on #35
Sorry for the confusion. Based on my testing, I saw the contents of PERL_ARCH/ got blown away every time. The rest of the stuff in perl5/lib stays between build. So, all the binaries got copied every run, but even the results of the previous `cp -rP (blah)` into PERL_ARCH/ would get overwritten by the next run of the build script. Maybe I'm mistaken. It really doesn't matter the way it was, becaus

[2017-12-07 11:39] fsbruva commented on #35
@dnalor Can you please give aa71ba7 a try, and let me know if this issue can be closed?

[2017-12-13 16:46] dnalor commented on #35
@fsbruva Sorry for the delay. Looks fine to me (the `--include=*.so` in the second rsync is superfluous, but probably won't hurt).
Closing the issue - thanks.

[2017-12-13 16:46] #35 closed

[2018-01-02 18:51] chincheta0815 opened #39 "PERL_CC not determined correctly"
@fsbruva Hi there and Happy New Year. Right at the beginning I got an issue with the buildme.sh script and as I remember that you reworked it a lot I thought of asking you. The PERL_CC version is not determined correct by the grep-sed-pipe... In my case (SunOS) it only works when I change it to: "PERL_CC=`$ARCHPERL -V | grep cc=\' | sed "s#.*cc='##g | sed "s#'.*##g"`" The issue is mainly related t

[2018-01-23 06:09] #39 closed

[2018-02-20 20:22] mw9 opened #44 "Apparently overly pessimistic warning comparing gcc with perl's cc"
I am getting warnings about the identity of the compiler:

 On Mac OSX, Perl 5.18 & Perl 5.26:

    ********************************************** WARNING *************************************
    *                                                                                          *
    *    Perl was compiled with cc,
    *    which is different than gcc.
    *    This may cause significant

[2018-02-21 05:51] mherger commented on #44
@fsbruva - I'd agree with @mw9. This hasn't been a problem for a decade. Don't know why this suddenly should cause issues? Can you elaborate?

[2018-02-21 09:09] fsbruva commented on #44
I noticed build inconsistencies when buildme used a truly different compiler than was used to build Perl. The test I implemented obviously confuses more than it helps.
EDIT: I will submit a PR to remove the test and misleading message.

[2018-02-21 13:10] mw9 commented on #44
One approach might be to initialize GCC as follows:

    GCC=`$PERL_BIN -V | grep "cc='" | sed "s#.*cc='##g" | sed "s#'.*##g"

But how does one then figure out the 'correct' matching G++ and GPP ?
I suspect that this won't work, but I don't know enough about compiler toolkits.

[2018-02-21 14:27] fsbruva commented on #44
@mw9 I appreciate the suggestion, and you are asking the absolute correct question. (The one I should have asked before I "fixed" anything). In reality, we don't need the compilers to be exactly the same - but probably the same family (clang vs. gcc) is good enough. When I submitted cb7e0ad, I was not testing on Linux, so didn't catch this.

This test is only meaningful for people who are compilin

[2018-03-07 07:20] #44 closed

[2018-03-16 19:52] mw9 opened #53 "To CPP or not to CPP..."
On MacOS, defining the C preprocessor to be  `cpp` appears to be a sub-optimal choice. When invoked this way it runs with `-traditional-cpp`. One feature of that, apparently, is that the format of pre-processor directives is somewhat constrained. For example, no indentation.

I see an unwelcome result of this when compiling libpng:

[code]
Despite the errors, the compilation of libpng does complet

[2018-03-17 02:08] fsbruva commented on #53
You're right, it was done for FreeBSD, to accomodate other-than-default build config. Since it's a problem on Mac, I'll do a PR to remove the CPP references altogether. I'll also add a warning note regarding the presence of dragons for any FreeBSD users with custom CPP specified in their make.conf.

[2018-03-17 02:30] fsbruva commented on #53
As an aside, the various build scripts do not successfully work out CC and CXX for themselves when gcc/g++ are not the "stock" system compilers. Unless the GCC/GXX declaration is problematic, I disagree with the idea of removing it.

[2018-03-17 07:14] mherger commented on #53
@mw9 - thanks for flagging this issue. I would not have seen this, as I don't compile for macOS any more. It's all there, isn't it? Why did you have to build?

[2018-03-17 08:54] fsbruva commented on #53
As I think about this more (and before I've had a chance to test), perhaps the issue is simply a bad default value for GPP on MacOS. What is the behavior if you declare it as an empty string (the test at line 136 notwithstanding)?

[2018-03-17 15:43] mw9 commented on #53
@fsbruva

The thought in my mind is that we have now had two unintended consequences on different “stock” systems as a result of the changes, and that perhaps a less intrusive approach would be preferable.

I was thinking in terms of something along the lines of:
[code]
Or even:
[code]
That should remove the need to provide the `CC="$GCC" CXX="$GXX" CPP="$GPP"` stanzas to the various `./configure`

[2018-03-17 15:48] mw9 commented on #53
@mherger

I don’t have to build on MacOS, it’s simply orders of magnitude faster than my armel SheevaPlug ! See below for why that is relevant to me.

Are you abandoning MacOS ? Or is it simply that the current builds will run fine on 10.11, 10.12, 10.13 anyway, so you just don’t need to. I assume the latter.

**My agenda**
Although the armel build is working fine, there are far too many build war

[2018-03-17 20:34] fsbruva commented on #53
Please forgive my incomprehension. What is the concern about having "all the CPP= in the configure stanzas?" What do you imagine it might inadvertently break and how?

When you tested setting GPP to an empty string, that then passed it as an empty string for CPP throughout the buildme script. This "invalid value" triggered the various configure scripts to check what the compiler recommends/require

[2018-04-15 16:53] mnd999 opened #55 "buildme.sh does some daft greps on FreeBSD"
`buildme.sh` does some greps on FreeBSD to pull the C compiler overrides out of `make.conf`. These greps are not safe:

[code]

What you probably want is something like:

[code]

At present if you have anything containing CC in your `make.conf` it will screw up the build. `LICENSES_ACCEPTED=SDL` is a pretty common line in `make.conf` for building logitechmediaserver, and this will produce the foll

[2018-04-17 05:39] mherger commented on #55
@fsbruva - could you please review the relevant changes and come up with a pull request?

[2018-04-17 18:22] fsbruva commented on #55
@mnd999
Have you tested your proposed changes? Do you have a PR already?

[2018-04-17 18:52] mnd999 commented on #55
No, not tested. That was off the top of my head.

[2018-04-22 13:07] mnd999 commented on #55
Actually, `perl -lne 'print $1 if /^CC=(\S+)/'` would be even better (since we depend on perl, why not use it?). Unfortunately, we haven't located perl yet at this point of the script so some reordering would be required.

[2018-04-22 13:09] mnd999 commented on #55
Created a PR - https://github.com/Logitech/slimserver-vendor/pull/56

[2018-05-21 08:01] mnd999 commented on #55
This was fixed.

[2018-05-21 08:01] #55 closed

[2018-07-20 23:56] fsbruva commented on #53
Well - given enough time - I now see the elegance and logic of your proposed approach.

Can you please try my patched branch to see if it builds properly on your test machine(s)? In particular, I am interested in MacOS and Debian. Thanks!  https://github.com/fsbruva/slimserver-vendor/commit/7ef5559ebe215f1d17905acdbb56e52e198e7f5f

[2018-07-21 15:43] heank opened #57 "xlocale.h patch causes problem in Freenas 11.1"
When installing on FreeNAS 11.1, I had to comment out the following line since it was not able to find the strtod_l. I believe that function is defined in this xlocale.h. Commenting out the patch fixed my problem.
# Need to patch ICU to adapt to removal of xlocale.h on some platforms.
#patch -p0 < ../../icu58_patches/digitlst.cpp.patch

Also, I was unable to use perl5.26. I only got stuff working

[2018-07-22 02:34] fsbruva commented on #57
Can you please try: fsbruva@7ef5559 and report back? That is one of the bugfixes in that set of commits.

[2018-07-24 13:22] mw9 commented on #53
@fsbruva
I'll certainly give that a try, but probably not for a week or so. I've been somewhat elsewhere engaged over the last few months.

[2018-07-31 01:14] fsbruva commented on #53
No problem. I don't have access to a MacOS box. I could (and probably should) spool up a Debian virtual machine for testing.

[2018-07-31 01:15] fsbruva commented on #57
@heank - Did you get a chance to test my patched fork?

[2018-08-09 11:20] fsbruva commented on #53
@mw9
I have successfully tested my fork on Debian 9.5 (amd64 and i686). Have you had time to test it on Mac OS?

[2018-09-11 06:22] michaelherger commented on #57
I think I just run into this issue trying to build an up-to-date DBD::SQLite on macOS. Giving your changes a try now, @fsbruva .

[2018-09-11 07:46] #53 closed

[2018-09-11 07:46] #57 closed

[2019-03-15 13:54] chincheta0815 commented on #2
Did not see that I have an open issue. How can I close this?

[2019-03-19 00:40] fsbruva opened #66 "DBD::SQLite Fails Tests on Perl 5.8"
Commit f236c5c249a1907348dda9ae540d4b9e6efdf06a updated DBD::SQLite to 1.58. However, this caused tests to fail on Perl 5.8, because DBD::SQlite 1.58 uses the functions note() and explain(). These functions [first appeared](https://perldoc.perl.org/Test/More.html#COMPATIBILITY) in Test::More 0.82, and shipped with Perl 5.10. The fact that DBD:SQLite misstates its prerequisite version of Test::More

[2019-03-19 02:23] fsbruva opened #67 "FFmpeg: Multiple vulnerabilities"
The bundled version of ffmpeg suffers from **286** known vulnerabilities, including 33 that received a severity rating of 10.0 (out of 10) from the [NIST National Vulnerability Database](https://nvd.nist.gov/vuln/search/results?form_type=Advanced&cves=on&cpe_version=cpe%3a%2fa%3affmpeg%3affmpeg%3a0.8.6&startIndex=0).

Two options:
1. Accept the risk, and continue to use ffmpeg 0.8.6
2. Upgrade ffm

[2019-03-19 02:38] fsbruva opened #68 "libpng: Multiple vulnerabilities"
The bundled version of libpng has **17** [known vulnerabilities](https://nvd.nist.gov/vuln/search/results?form_type=Advanced&cves=on&cpe_version=cpe%3a%2fa%3alibpng%3alibpng%3a1.4.3), according to the NIST National Vulnerability Database, including one with severity 10.0 (out of 10).

There are three options:
1. Accept the risk and keep using libpng 1.4.3
2. Upgrade to the latest libpng 1.6.36
3.

[2019-03-19 09:46] mherger commented on #66
TBH I doubt we'll ever build for 5.8 again. We have what we have today. Any forward development can ignore it if needed. I doubt there's still any reasonable system out there using it.

In fact I doubt we'll ever run the full build for any of the existing platforms any more.

[2019-03-19 09:48] mherger commented on #67
What parts of ffmpeg are we using? Where do we use them? And with how many of those vulnerabilities does this leave us?

I'd rather disable the media server part from LMS than try to update `Media::Scan` (which likely is the module using ffmpeg) on existing platforms.

[2019-03-19 09:52] mherger commented on #68
Now that's probably the most important of your reports. Would you have an assessment of how these vulnerabilities can be exploited with LMS? I guess this is for `Image::Resizer` (and `Media::Scan`?). Is the upstream fixed?

[2019-03-20 00:41] fsbruva commented on #67
You are correct, Media::Scan is the module using ffmpeg. I believe it uses libavcodec, libavfilter, libavformat, libavutils, and libswscale to assist with scanning, obtaining metadata and generating thumbnails for video files. Those libraries make up 32 of the 33 most severe (severity: 10) vulnerabilities.

To be clear - I have already developed the necessary libmediascan patch(es) necessary to bu

[2019-03-20 00:50] fsbruva commented on #68
Media::Scan, yes, and Image::Scale use PNG. The two most severe exploits would allow attackers to execute arbitrary code through crafted PNGs (either standalone or embedded in audio files) during library scanning.
The upstream (latest is 1.6.32) has been fixed, and the memory leak is from improper tear-down when the pngcp command fails, see: https://github.com/glennrp/libpng/issues/269.

[2019-03-20 00:54] fsbruva commented on #66
So - go with option 2 listed above?

Is it worthwhile to display a banner to the user that build support for 5.8 (and maybe some other versions) is slated for deprecation, and will be completely removed in Mar 2020 or something? That might trigger any users out there that *need* support for 5.8 to come forward.

Are your statistics/metrics able to let you know how many users are running LMS using

[2019-03-20 14:22] mherger commented on #67
Can you try to get those changes upstream (https://github.com/andygrundman/libmediascan)?

I should probably find out what the most popular platforms currently are. Then try to update these? Would that make sense? There's no way we're going to update for 48 platforms, many of which likely are obsolete.

[2019-03-20 14:24] mherger commented on #68
`Image::Scale` we use all over the place indeed. And a lot with files of unknown source (remote artwork).

We already did update that module for select platforms. But that probably didn't include all the security fixes you mention.

If you could provide a fix for this, that might be a good starting point.

[2019-03-20 14:29] mherger commented on #68
Ugh... I tried to update `Image::Scale` on Windows before... https://github.com/andygrundman/Image-Scale/issues/9

[2019-03-20 14:31] mherger commented on #66
I don't think it's worthwile, no. 5.8 had its share of known issues with LMS (or the other way around). Feel free to drop 5.8 support if you feel like it.

[2019-03-20 14:33] #2 closed

[2019-03-21 00:37] fsbruva commented on #66
Excellent. I'll do that soonest.

Also - can you help me understand the genesis of the "Perl hunt" section of the script? Why are specific files and locations checked? Is it reasonable that if people are using perlbrew, they would issue the appropriate `perlbrew use perl-5.12.4` prior to running the script? Or asked another way: Why doesn't the script assume that the perl found in PATH is the one

[2019-03-21 00:51] fsbruva commented on #67
Yes, I can pursue proposing the changes upstream. I will work on that tonight. Would you prefer to wait until the changes are accepted upstream? Or should I submit a PR with the patches here, too?

I think so. I can certainly help with that for the Linux i386 and x64 builds, at least. I don't have a Mac, nor do I have access to an arm or powerpc machine.

Wow. That's a lot. Is that the matrix of P

[2019-03-21 00:57] fsbruva commented on #68
The perl module is only as (in)secure as the underlying libraries.

Will do. I'll also update giflib and libjpeg, to cover those bases.

Have you been able to replicate the issue with Image::Scale 0.14?

[2019-03-21 03:47] fsbruva commented on #68
Argh. I just remembered that libmediascan also depends on giflib. And since giflib has an API-breaking change between the 4.x.x and 5.x.x series (the library was made completely re-entrant and thread-safe, as well as fixing LOTS of bugs). Image::Scale is flexible enough to use both old and new API, but libmediascan is not.

I will leave giflib as is, and update it if/when libmediascan gets updated

[2019-03-21 04:06] fsbruva commented on #67
Submitted [upstream.](https://github.com/andygrundman/libmediascan/pull/5)

Note: These patches are intentionally inflexible, because flexibility would allow users to continue to build using vulnerable software. Thus, use of this patched version will require both FFmpeg and GIFLIB to be upgraded.

[2019-03-21 05:25] chincheta0815 commented on #67
Maybe it is a good idea to drop off some very old platforms and consolidate the ones already there. Can I help in some ways? I am not deep in coding by I am quite good in testing and adapting...

All I can say for now fsbruva's changes work on OpenIndiana/Solaris and I am keeping up and clean these scripts since I use that platform.

Concerning Windows I started trying to have strawberryperl suppo

[2019-03-21 07:55] mherger commented on #67
I started not including Perl <5.12 in the ARM and x86 packages a while ago. But people are still downloading the _all.* packages... Maybe it's time to exclude some more.

And that's where I have a split personality: as a developer I would love to have more information about the users and their systems. I considered reporting the perl version used etc. when LMS is calling home. But as a user myself

[2019-03-21 07:56] #68 closed

[2019-03-21 08:01] mherger commented on #66
TBH: no idea. I can only assume that whoever started this did indeed not `perlbrew use ...`. And there are systems which have multiple Perl versions installed and in the search path (see the comment about 5.14 on macOS).

[2019-03-21 08:10] chincheta0815 commented on #67
Does it help to maybe built "into a distro"? I am packaging stuff for OpenIndiana. They have a "running release", but you are more or less tied to hat is in the distro. They build it and distribute it. Maybe something like that would help to get rid of very old distros/perls. On OpenIndiana it is perl5.22 or 5.24.

Seems okay to me too. Do you have a build script somewhere (and maybe the needed Ac

[2019-10-27 14:21] klslz opened #71 "buildme.sh: libpng on aarch64 fails"
solution: correction available

I replaced the lib with latest git version.
That version compiles fine.

Please introduce updated libpng.

[2019-10-28 05:51] mherger commented on #71
Could you please elaborate? How is it failing? What OS is it failing on (I've successfully compiled for some of them)? What issue is fixed in the new code?

[2019-10-28 07:00] klslz commented on #71
I'm running ArchLinuxArm on a PI4 on aarch64 (RPI) kernel and userland.

Here's the error (just ran the process once more):

[code]

And here the extract of the test-suite.log:

[code]

*********************************
If you lookup the [libpng git](https://github.com/glennrp/libpng) you'll see that they solved some aarch64 issues 6month ago. Your libpng tar is a month older if I'm not mistaken.

[2019-11-17 14:07] klslz opened #73 "libpng -- Vulnerability Warning <= 1.6.36"
There's a vulnerability warning for libpng:

http://www.libpng.org/pub/png/libpng.html

A simple update to 1.6.37 would do. 1.6.27 is available since April 2019.

[2019-11-18 05:57] #71 closed

[2019-11-27 14:52] LeSpocky opened #75 "buildme.sh fails when searching libz on Debian 9 (stretch)"
This is the result when trying to build 6265ea5b0ab9952af187602e848bbe318f4e3cc6 on Debian GNU/Linux version 9 (stretch) on amd64:

[code]

The reason is `ldconfig` is located in `/sbin` which is not in `PATH` for an ordinary unprivileged user (you would not build as root, why would you?). The following message about a missing libz is at best misleading.

[2020-03-02 07:53] chincheta0815 opened #76 "Question: Can I send a patch for buildme.sh changing removing "verbose" option from cp args?"
I recently found that buildme.sh causes less trouble on my system (OpenIndiana) when I simply remove the verbose option from the line in buildme.sh where cp is used. Since OpenIndiana's/Solaris' standard cp does not know the "verbose" option for cp there will be a lot of issues.

The reason for that change:
Illumos based systems do use their own ld as a default. When adding the dir containing the

[2020-03-02 08:08] mherger commented on #76
Reviewing the code I see that the use of the `-v` flag is rather inconsistent. Feel free to remove it.

[2020-03-03 06:36] chincheta0815 commented on #76
Patch sent as PR #77

[2020-03-03 06:36] #76 closed

[2020-04-07 21:12] heank commented on #57
@fsbruva sorry for not responding to your questions. I had just spent days getting things working and needed to get a bit of a break. So, 1.5 yrs down, i broke my installation and redid everything with the latests versions. No problems encountered! I'm using Freenas 11.3, perl5.30.2, server version 7.9.2 (used the following tutorial (need to update the versionnumbers https://forums.slimdevices.com

[2020-10-20 13:33] cookiemonsteruk opened #80 "Question: FreeBSD 11.X and FreeBSD 12.X"
Apologies if it is a dumb question but buildme.sh has freebsd documented OS and perl version documented up to 9: FreeBSD 8.X,9.X (Perl 5.12.4).
In order to build for freeBSD version 11.X or 12.X, which highest perl version do we need to test a build please?

[2020-10-20 17:52] mherger commented on #80
I have no idea what exactly you're asking for. If you search issues and pull requests for freebsd, you should find some stuff (and names) around id in the closed tickets.

[2020-10-21 10:46] cookiemonsteruk commented on #80
Ok Michael I could have been clearer. From your advice a search for pull requests for freebsd shows as latest, the commit #17 adds support for perl 5.26 and above on freebsdv11.X-amd64. This was a while ago but it helps.
The question was therefore: what is the current min and max perl version that we can build for freebsd, and what version of freebsd are supported.?
By the way I am not asking on b

[2020-10-21 11:16] mherger commented on #80
No FreeBSD is supported out of the box. You'll have to compile binaries yourself. But I believe one of the guys had some recipe somewhere (I don't even know how FreeBSD manages applications...). But overall it should be compatible with at least Perl 5.30.

[2020-10-21 14:23] cookiemonsteruk commented on #80
Brilliant, that is really helpful. Thanks Michael. I can work with that.

[2020-10-21 14:23] #80 closed

[2020-10-23 14:31] cookiemonsteruk opened #81 "Question: Versions of Perl newer than build.me"
Hi again.
Currently binary build fails when running build.me script.
This is on FreeBSD 11.3 which has only Perl from 5.28 onwards.
I think it is because the perl check only goes to 5.26:
From line # 453
# Path to Perl 5.26
if [ -x "/usr/bin/perl5.26.0" ]; then
    PERL_526=/usr/bin/perl5.26.0
fi

if [ $PERL_526 ]; then
    PERL_BIN=$PERL_526
    PERL_MINOR_VER=26
fi

Would it be a bad idea for me

[2020-10-23 19:11] fsbruva commented on #81
Yes - it is a bad idea. The main reason is because on FreeBSD, the Perl binaries don't reside in /usr/bin. The second reason is that the actual test for Perl should be conducted down at [L469](https://github.com/Logitech/slimserver-vendor/blob/public/8.0/CPAN/buildme.sh#L469). This revised logic allows all Perl (including 5.28) to be properly detected and used on FreeBSD.

How did the build fail?

[2020-10-26 08:58] cookiemonsteruk commented on #81
Hi fsbruva. I haven't attempted to build it myself, my jail is at perl 5.26. Someone trying now on a jail on a higher freebsd base system is failing. That is freebsd 12.1. The lowest perl on packages for it is 5.28.3.
His reported failure appears as this:
root@lms:/tmp/slimserver-vendor-public-7.9/CPAN # ./buildme.sh -t | tee /tmp/build.log
RUN_TESTS:0 CLEAN:1 USE_HINTS:1 RENAME_x86:1 target all
L

[2020-10-26 18:33] fsbruva commented on #81
Was this the same system that you said was 11.3 in your first comment (they upgraded to 12.1)?
What does his system show for the commands `which perl` and `perl -v`?

[2020-10-27 11:30] cookiemonsteruk commented on #81
Hi. Hisf irst attempt was on an 11.3 jail. They since blew that jail to see if 12.1 would be more successful by building a new jail on 12.1.

I'm going to reproduce myself. I've now built a jail for this. This jail is on 11.3:
root@builder:/ # uname -a
FreeBSD builder.local 11.3-RELEASE-p3 FreeBSD 11.3-RELEASE-p3 #0 r353706M: Fri Oct 18 02:02:16 CEST 2019     root@dev.xigmanas.com:/usr/obj/xigmana

[2020-10-27 14:46] cookiemonsteruk commented on #81
I can confirm it builds correctly after a pair of symlinks are created to the perl binary from pkg.
ln -s /usr/local/bin/perl5.30.3 /usr/bin/perl
ln -s /usr/local/bin/perl5.30.3 /usr/bin/perl5
Therefore the failure to build is because the test for perl is looking in the "wrong" path for freebsd.
The path is /usr/local/bin/ , the test is in /usr/bin/

Should I create a new issue for it, to alter th

[2020-10-27 19:41] fsbruva commented on #81
Thanks for your diagnostic efforts. However, unless @mherger disagrees, the behavior you have described is not an issue that necessitates modification of buildme.sh, because you are using a non-standard configuration. If it requires any change - it might be to the README within CPAN.

Usually, FreeBSD automatically installs a symlink from /usr/local/bin/perl5.x.y to /usr/local/bin/perl, but only i

[2020-10-28 00:21] fsbruva commented on #81
In case it wasn't clear - the script uses whatever gets returned from `which perl` as the Perl binary. The reason your attempt failed is because you didn't have a binary named 'perl' anywhere in your $PATH. Since /usr/local/bin is already in your $PATH, then when the default version of Perl gets installed, pkg symlinks the generic 'perl' to the actual installed Perl binary. All the /usr/bin/ stuff

[2020-10-28 10:59] cookiemonsteruk commented on #81
Thank you very much for the detailed explanation. I didn't realise that installing a package not by (pkg install perl5) even it listed in the available perl versions on (pkg search perl) wasn't standard.
I've looked at the installer message from (pkg install perl5.30):
[code]
Therefore unfortunately the symlink isn't created anymore. However I agree in your assesment and moving the burden to the b

[2020-10-28 18:48] fsbruva commented on #81
That UPDATING note serves to alert users that the symlink created in FreeBSD for ALL Perl versions 5.8 - 5.18 at /usr/bin/perl (and pointed to /usr/local/bin/perl5.x.y) isn't used anymore. Therefore, users should be aware that: 1. They may need to alter the shebang of their existing Perl scripts and 2. Porting a Perl script written for Linux will require modifying the shebang.

You are confusing t

[2020-10-30 10:19] cookiemonsteruk commented on #81
Understood.
For users simply trying to use LMS most of this is gets buried in installation of dependencies outputs. Hence although you are right, I come to think the note in the CPAN README would be very useful.

[2020-11-02 12:38] cookiemonsteruk commented on #81
Hi, what is the etiquette on these? Should I convert it to an issue to track any action?

[2020-11-02 13:30] mherger commented on #81
I must admit that I didn't follow all of what you discussed. So if there's something actionable, then please provide a summary of what needs to be done. Or even better: submit a pull request ;-).

[2020-11-03 00:11] fsbruva commented on #81
I can submit a PR for this topic this week. This is lighting a fire under me to get back into contributing.

[2021-02-02 10:30] klslz opened #82 "CPAN step-up to 8.2 ?"
Since LMS is on 8.2 now, would be nice to step up CPAN accordingly.

Thx.

[2021-02-22 13:21] zhellmann commented on #82
Please update repository to 8.2 as LMS 8.2 is not working on i686 & Perl 5.32.1 and the latest working repository is 8.0.

[2021-02-22 13:50] #82 closed

[2021-07-15 22:39] pssc opened #84 "is branch 8.0 suitable for 8.1 builds?"
Hi I am doing my own module build for a custom Conianter and running into issues and  I wanted to check?

[2021-07-16 09:22] mherger commented on #84
Could you please be more specific? 8.0 branch in this repo to build 8.1 of LMS? Yes, that should be good. It's the latest we currently have.

[2021-07-16 09:34] pssc commented on #84
Hi, yes trying to do a rebuild off the perl modules having oddities new installs don't work, existing ones do I am still digging.  Just wanted to check the 8.0 was ok.

[2021-07-19 16:01] pssc commented on #84
I dont seem to get the same results as what is included in the debs for example

[2021-08-03 09:22] pssc commented on #84
All though the layout isn't the same I can confirm it works on aarch64, amd64, i386, armv7 and armhf

[2021-08-03 09:22] #84 closed

[2022-01-29 00:12] retpoline opened #94 "Crash in alac library when parsing malformed m4a file"
Hi folks,

An interesting crash was found while fuzz testing of the **alac** binary in slimserver-vendor/alac_decoder which can be triggered via a malformed m4a file. Although this malformed file only crashes the program as-is, it could potentially be crafted further and create a security issue where these kinds of files would be able compromise the process's memory through taking advantage of aff

[2022-02-03 18:30] retpoline opened #95 "Crash when parsing malformed AAC file in faad2"
https://github.com/ralph-irving/faad2/issues/6

[2022-02-05 06:14] mherger commented on #94
duplicate of #95

[2022-02-05 06:14] #94 closed

[2022-02-05 14:18] ralph-irving commented on #95
As I build new faad binaries I'll upload them to https://sourceforge.net/projects/lmsclients/files/utility/faad/20220205-8cde9ff/
Once complete I'll create a PR for 8.3.  However, that will take some time.

[2022-02-21 13:20] ralph-irving commented on #95
@mherger I've created a multarch faad macos binary with m1, x86_64 and i386 platform support.
Could you try running it on your m1 and confirm the native build works?  I built it on an intel macair, so I can't test it.
https://sourceforge.net/projects/lmsclients/files/utility/faad/20220205-8cde9ff/faad-macos/download
If it works, I'll create a PR for the updated helpers.
Thank you.

[2022-02-21 14:10] mherger commented on #95
Heh... interesting timing: over the weekend I spent some time building a standalone Perl to bundle with LMS for macOS. Got it working on the M1. But it's not a universal binary. I don't know yet how to do universal Perl binaries....

But I was wondering whether we shouldn't try to build universal binaries for the helpers - we currently have two folders for macOS helpers. The old one has universal

[2022-02-21 16:37] ralph-irving commented on #95
Yes it took a few tries but you can build arm64 with XCode 12.2 or higher, but you can't run them.
Now I know it works. thanks.
I've never built multiarch perl modules for macos but I have for squeezeplay using the gcc-fat.sh scripts but it was never reliable.
You could build the x86_64 modules and arm64 modules and use lipo in a script to create new .so files with both architectures.
I bundled th

[2022-02-21 17:07] mherger commented on #95
Thanks for the info! Yes, I've been playing with `lipo`, too (the latest Spotty helper has a universal binary).

Yes. PPC is long gone... I didn't even know we had i386 for Mac.

[2022-02-21 18:00] ralph-irving commented on #95
Oh alright. I'll remove i386 from faad before creating the PR and won't include it in any helper binary updates going forward.

[2022-02-21 20:18] mherger commented on #95
FWIW: I removed PPC support and moved everything back to `Bin/darwin`. I left i386 in, but I believe it's indeed only a few dozen users left, and none on 8.2.0+.

[2022-02-21 20:43] mherger commented on #95
Just to confirm that we can drop support for i386: most of the Perl binaries for 5.18 on Mac are x86_64 only.

[2022-08-24 20:14] DaveInRedmond opened #98 "Ubuntu 22.04 can't build slimserver-vendor-public-8.3"
Running the version installed from Ubuntu 20.04 after the upgrade generates:
Aug 16 13:40:58 WhiteCat squeezeboxserver[294954]: If you're running some unsupported Linux/Unix platform, please use the buildme.sh
Aug 16 13:40:58 WhiteCat squeezeboxserver[294954]: script located here:
Aug 16 13:40:58 WhiteCat squeezeboxserver[294954]: https://github.com/Logitech/slimserver-vendor/tree/public/8.3/CPAN

[2022-08-25 06:17] mherger commented on #98
The latest LMS 8.3 should have support for x86_64/Perl 5.34. What build ar eyou using? Would you mind sharing your full server.log.zip?

[2022-08-25 15:16] DaveInRedmond commented on #98
On Wednesday, August 24, 2022 11:17:11 P.M. PDT Michael Herger wrote:

- I'm using perl v5.34.0
- the latest server log with any data is attached
- minor change - The OS was originally plain Ubuntu but I then switched to
KDE. Shouldn't have an effect, but....

[2022-08-25 15:23] mherger commented on #98
What would `ldd --version` give you?

[2022-08-25 15:33] DaveInRedmond commented on #98
On Thursday, August 25, 2022 8:23:10 A.M.
PDT Michael Herger wrote:

ldd (Ubuntu GLIBC 2.35-0ubuntu3.1) 2.35

[2022-08-26 03:54] mherger commented on #98
That should be fine.

There's actually a discussion thread around this topic on https://forums.slimdevices.com/showthread.php?116395-LMS-Won-t-Start-on-Ubuntu-22-04. It basically confirms that 8.3 was working just fine.

BTW: your server.log.zip never arrived here. If you tried to send it using email, I think that's not working with Github. You'd have to use their web UI to attach the document.

[2022-08-26 18:28] DaveInRedmond commented on #98
All’s well and LMS is up and running again like it used to after reading/applying the link you sent.

Much thanx for the help and I now know to send any future attachments thru the github UI rather than email.

From: Michael Herger ***@***.***>
Sent: August 25, 2022 8:54 PM
To: Logitech/slimserver-vendor ***@***.***>
Cc: DaveInRedmond ***@***.***>; Author ***@***.***>
Subject: Re: [Logitech/slimse

[2022-10-31 11:59] darylfoster opened #100 "Unable to start slimserver on MaxOS 13.0 (Ventura)"
I normally start slimserver via the command line: `perl /Library/PreferencePanes/Squeezebox.prefPane/Contents/server/slimserver.pl`

After upgrading to Ventura, I get the following:

The following modules failed to load: EV

This is perl 5, version 30, subversion 3 (v5.30.3) built for darwin-thread-multi-2level
(with 2 registered patches, see perl -V for more detail)

Copyright 1987-2020, Larry Wa

[2022-10-31 13:06] mherger commented on #100
Please download the latest 8.3 nightly build from https://downloads.slimdevices.com/nightly/?ver=8.3. macOS Ventura has dropped the Perl version we were relying on for many years.

[2022-10-31 16:07] darylfoster commented on #100
Installing the 8.3 nightly build worked! Slimserver is now running on my MacOS 13.0 machine. I can also run Squeezelite on the same MacOS machine. However, my other devices are unable to connect to the slimserver.

I can access the Logitech Media Server web interface on the mac, but I cannot access it from other machines and devices on my network.

[2022-10-31 16:09] mherger commented on #100
Check the Mac's firewall settings to make sure it allows access to LMS. You might have to grant the new Perl version full access to the disk, too.

[2022-10-31 16:24] darylfoster commented on #100
Ok, I got it working by starting slimserver from the command line and specifying the perl version as follows:
`perl5.34 /Library/PreferencePanes/Squeezebox.prefPane/Contents/server/slimserver.pl`

That may not be the best solution, but it works! Thank you for your help.

[2022-10-31 16:24] #100 closed

[2022-11-14 06:14] #98 closed